@using VnnewsNews.Function;
@{
    FunctionsController functions = new FunctionsController();
    var user = functions.CookieID();
    ViewBag.Title = "Tạo quảng cáo tự động | " + functions.CookieID() + " | VNNEWS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
      font-family: sans-serif;
      background-color: #eeeeee;
    }

    .file-upload {
      background-color: #ffffff;
      width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

    .file-upload-btn {
      width: 100%;
      margin: 0;
      color: #fff;
      background: #1FB264;
      border: none;
      padding: 10px;
      border-radius: 4px;
      border-bottom: 4px solid #15824B;
      transition: all .2s ease;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
    }

    .file-upload-btn:hover {
      background: #1AA059;
      color: #ffffff;
      transition: all .2s ease;
      cursor: pointer;
    }

    .file-upload-btn:active {
      border: 0;
      transition: all .2s ease;
    }

    .file-upload-content {
      display: none;
      text-align: center;
    }

    .file-upload-input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
    }

    .image-upload-wrap {
      margin-top: 20px;
      border: 4px dashed #1FB264;
      position: relative;
    }

    .image-dropping,
    .image-upload-wrap:hover {
      background-color: #1FB264;
      border: 4px dashed #ffffff;
    }

    .image-title-wrap {
      padding: 0 15px 15px 15px;
      color: #222;
    }

    .drag-text {
      text-align: center;
    }

    .drag-text h3 {
      font-weight: 100;
      text-transform: uppercase;
      color: #15824B;
      padding: 60px 0;
    }

    .file-upload-image {
      max-height: 200px;
      max-width: 200px;
      margin: auto;
      padding: 20px;
    }

    .remove-image {
      width: 200px;
      margin: 0;
      color: #fff;
      background: #cd4535;
      border: none;
      padding: 10px;
      border-radius: 4px;
      border-bottom: 4px solid #b02818;
      transition: all .2s ease;
      outline: none;
      text-transform: uppercase;
      font-weight: 700;
    }

    .remove-image:hover {
      background: #c13b2a;
      color: #ffffff;
      transition: all .2s ease;
      cursor: pointer;
    }

    .remove-image:active {
      border: 0;
      transition: all .2s ease;
    }

</style>

<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper">
        <a href="index.html">Home</a> / <span class="breadcrumb_last" aria-current="page">Contact</span>
    </div>
</nav>
<!-- contact-form 2 -->
<section class="w3l-contact-2 py-5">
    <div class="container py-lg-5 py-md-4">
        <h3 class="section-title-left">Quảng cáo tự động </h3>
        <div class="contact-grids d-grid">
            <div class="contact-left">
                <p>
                    <i class="fa fa-check-circle text-success">&nbsp;</i> Tự động quảng cáo trên vnnews sau khi thanh toán. <br />
                    <i class="fa fa-check-circle text-success">&nbsp;</i> Ưu tiên hiển thị quảng cáo ở trang cùng chủ để tin tức. <br />
                    <i class="fa fa-check-circle text-success">&nbsp;</i> Vị trí dễ nhìn. <br />
                    <i class="fa fa-check-circle text-success">&nbsp;</i> Có lịch sử hiển thị quảng cáo ở tin tức. <br />
                    <i class="fa fa-check-circle text-success">&nbsp;</i> Giảm giá 5% trên đơn hàng quảng cáo 1 triệu, 7% cho 5 triệu và 10% trên 10 triệu.  <br />  
                </p>
                <div class="cont-details">
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Address</h6>
                            <p>#135 block, Barnard St. Brooklyn, NY 10036, USA</p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Call Us</h6>
                            <p>
                                <a href="tel:+(12)234-11-2446">+(12)234-11-2446</a>, <a href="tel:+(12)234-11-4455"
                                                                                        class="ml-2">+(12)234-11-4455</a>
                            </p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Email Us</h6>
                            <p><a href="mailto:example@mail.com" class="mail">example@mail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-right">
                <form class="ui form" action="@Url.Action("CreateAds", "Ads")" method="post" enctype="multipart/form-data">
                    @*<h4 class="ui dividing header">Thông tin quảng cáo</h4>*@
                    @Html.AntiForgeryToken()
                    <div class="field">
                        <div class="file-upload">
                            <div class="image-upload-wrap">
                                <input name="img" class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" required/>
                                <div class="drag-text">
                                    <h3>Thêm ảnh quảng cáo</h3>
                                </div>
                            </div>
                            <div class="file-upload-content">
                                <img class="file-upload-image" id="img" src="#" alt="your image" />
                                <div class="image-title-wrap">
                                    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Thêm ảnh khác</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="field">
                        <label>Tiêu đề</label>
                        <div class="field">
                            <input type="text" name="ads_title" placeholder="Tiêu đề quảng cáo..." required>
                        </div>
                    </div>

                    <div class="field">
                        <div class="three fields">
                            <div class="field">
                                <label>Ngày bắt đầu</label>
                                <input type="date" id="datestart" name="ads_datecreate" style="height: 38px" placeholder="Ngày bắt đầu" onchange="totalDay()" required>
                            </div>
                            <div class="field">
                                <label>Ngày kết thúc</label>
                                <input type="date" id="dateend" name="ads_dateend" style="height: 38px" placeholder="Ngày kết thúc" onchange="totalDay()" required>
                            </div>
                            <div class="field">
                                <label>Tổng ngày: </label>
                                <input type="text" id="total_date" name="ads_totalday" placeholder="Tổng ngày" readonly>
                            </div>
                        </div>
                        <div id="noti_diffdate"></div>
                    </div>

                    <div class="field">
                        <div class="fields">
                            <div class="twelve wide field">
                                <label>Tags: </label>
                                <select class="ui fluid search dropdown" id="ads_tag" name="ads_tag" multiple="">
                                    <option value="">-- Tags quảng cáo --</option>
                                </select>
                            </div>
                            <div class="four wide field">
                                <label>Tổng tiền: </label>
                                <input type="text" id="total_money" name="ads_money" placeholder="Tổng tiền" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" checked name="autocheck" tabindex="0" class="hidden">
                                <label>Duyệt tự động</label>
                            </div>
                        </div>
                    </div>
                    <button class="ui button" tabindex="0">Đăng quảng cáo</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap').hide();

                $('.file-upload-image').attr('src', e.target.result);
                $('.file-upload-content').show();

                $('.image-title').html(input.files[0].name);
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }

    function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
    });

</script>
<script>
    $('.ui.dropdown').dropdown({
        allowAdditions: true,
        maxSelections: 5
    });
</script>
<script>

    var totalDay = function () {
        var dstart = document.getElementById("datestart").value;
        var dend = document.getElementById("dateend").value;
        debugger
        var datest = new Date(dstart);
        var dateen = new Date(dend);
        var total = dateen.getTime() - datest.getTime();
        if (total < 1) {
            document.getElementById("noti_diffdate").innerHTML = "Ngày ko đúng!";
        }
        else {
            var day = new Date(total).getDate();
            var money = document.getElementById("total_money").value;
            document.getElementById("total_date").value = day;
            if (day > 0) {
                document.getElementById("total_money").value = +money + +day * 100000;
            }
            document.getElementById("noti_diffdate").innerHTML = "";
        }
    }

    //document.getElementById("total_money").onchange = function () {
    //    this.value = parseFloat(this.value.replace(/,/g, ""))
    //        .toFixed(2)
    //        .toString()
    //        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    //}
</script>

@*<script>
    $(".ui.fluid.search.dropdown.selection.multiple").on("keyup", function (e) {

        var val = $(".ui.fluid.search.dropdown.selection.multiple input.search").val();
        debugger
        if (e.keyCode == 13) {
            $("input.search").val("");
            $('#ads_tag').append('<option value="' + val + '" selected>' + val + '</option>');
            var money = document.getElementById("total_money").value;
            document.getElementById("total_money").value = +money + +100000;
        }
    })
</script>*@

<script>    

    const img = document.getElementById('img')

    // Load model from my S3.
    // See the section hosting the model files on your site.
    nsfwjs.load()
        .then(function (model) {
            // Classify the image
            return model.classify(img)
        })
        .then(function (predictions) {
            console.log('Predictions: ', predictions)
        })
</script>