
@{
    ViewBag.Title = "CreateAds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper">
        <a href="index.html">Home</a> / <span class="breadcrumb_last" aria-current="page">Contact</span>
    </div>
</nav>
<!-- contact-form 2 -->
<section class="w3l-contact-2 py-5">
    <div class="container py-lg-5 py-md-4">
        <h3 class="section-title-left">Quảng cáo tự động </h3>
        <div class="contact-grids d-grid">
            <div class="contact-left">
                <p>
                    <i class="fa fa-check-circle text-success">&nbsp;</i> Tự động quảng cáo trên vnnews sau khi thanh toán. <br />
                    <i class="fa fa-check-circle text-success">&nbsp;</i> Ưu tiên hiển thị quảng cáo ở trang cùng chủ để tin tức. <br />
                    <i class="fa fa-check-circle text-success">&nbsp;</i> Vị trí dễ nhìn. <br />
                    <i class="fa fa-check-circle text-success">&nbsp;</i> Có lịch sử hiển thị quảng cáo ở tin tức. <br />
                    <i class="fa fa-check-circle text-success">&nbsp;</i> Giảm giá 5% trên đơn hàng quảng cáo 1 triệu, 7% cho 5 triệu và 10% trên 10 triệu.  <br />
                    <i class="fa fa-check-circle text-success">&nbsp;</i> . <br />
                </p>

                <p>
                    We have a dedicated support center for all of your support needs. We usually get back to you within 12-24
                    hours.
                </p>
                <div class="cont-details">
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Address</h6>
                            <p>#135 block, Barnard St. Brooklyn, NY 10036, USA</p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Call Us</h6>
                            <p>
                                <a href="tel:+(12)234-11-2446">+(12)234-11-2446</a>, <a href="tel:+(12)234-11-4455"
                                                                                        class="ml-2">+(12)234-11-4455</a>
                            </p>
                        </div>
                    </div>
                    <div class="cont-top margin-up">
                        <div class="cont-left text-center">
                            <span class="fa fa-envelope-o"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Email Us</h6>
                            <p><a href="mailto:example@mail.com" class="mail">example@mail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-right">
                <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                    <div class="input-grids">
                        <input type="text" name="w3lName" id="w3lName" placeholder="Your Name*" class="contact-input"
                               required="" />
                        <input type="email" name="w3lSender" id="w3lSender" placeholder="Your Email*" class="contact-input"
                               required="" />
                        <input type="text" name="w3lSubect" id="w3lSubect" placeholder="Subject*" class="contact-input"
                               required="" />
                    </div>
                    <div class="form-input">
                        <textarea name="w3lMessage" id="w3lMessage" placeholder="Type your message here*" required=""></textarea>
                    </div>
                    <button class="btn btn-style btn-outline">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>


