@model Model.EF.News

@{
    ViewBag.Title = "Đăng tin tức biên tập viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
 
        height: 500px;
    }
</style>

<style>
    body {
        font-family: sans-serif;
        background-color: #eeeeee;
    }

    .file-upload {
        background-color: #ffffff;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-btn {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #1FB264;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #15824B;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .file-upload-btn:hover {
            background: #1AA059;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .file-upload-btn:active {
            border: 0;
            transition: all .2s ease;
        }

    .file-upload-content {
        display: none;
        text-align: center;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        margin-top: 20px;
        border: 4px dashed #1FB264;
        position: relative;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: #1FB264;
            border: 4px dashed #ffffff;
        }

    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            color: #15824B;
            padding: 60px 0;
        }

    .file-upload-image {
        max-height: 200px;
        max-width: 200px;
        margin: auto;
        padding: 20px;
    }

    .remove-image {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

        .remove-image:hover {
            background: #c13b2a;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .remove-image:active {
            border: 0;
            transition: all .2s ease;
        }
</style>


<link href="~/Content/Login.css" rel="stylesheet" />
<script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
<form action="@Url.Action("NewsEditor", "Create")" method="post" enctype="multipart/form-data">
    <div style="padding: 20px">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-horizontal">
                <div id="login-box" style=" height: 1400px; width: 1000px">
                    <div class="w-100" style="padding: 40px">
                        <h1 class="text-dark">Soạn thảo tin tức</h1>

                        <div>
                            <label>Tiều đề</label>
                            <input class="field w-100" type="text" name="vnew_title" placeholder="Tiêu đề không vượt quá 50 ký tự" />
                        </div>

                        <div>
                            <label>Giới thiệu</label>
                            <input class="field w-100" type="text" name="vnew_title" placeholder="Giới thiệu không quá 100 ký tự" />
                        </div>



                        <label>Nội dung</label>
                        <br />
                        <button type="button" class="btn btn-danger">Tải file</button>
                        <button type="button" class="btn btn-danger">Đọc file</button>
                        <br />
                        <br />
                        <textarea name="vnew_content" id="editor"></textarea>
                        <script>
                            ClassicEditor
                                .create(document.querySelector('#editor'))
                                .catch(error => {
                                    console.error(error);
                                });
                        </script>
                        <br />
                        <div>
                            <label>Ảnh minh họa</label>
                            <div class="field">
                                <div class="file-upload">
                                    <div class="image-upload-wrap">
                                        <input name="img" class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" required />
                                        <div class="drag-text">
                                            <h3>Ảnh minh họa</h3>
                                        </div>
                                    </div>
                                    <div class="file-upload-content">
                                        <img class="file-upload-image" src="#" alt="your image" />
                                        <div class="image-title-wrap">
                                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Thêm ảnh khác</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr />
                        <center>
                            <input type="submit" class="submit" name="signup_submit" value="Đăng tin" />
                        </center>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
